#Ignore files
SDCEventTracker/bin/SDCEventTracker.dll
SDCEventTracker/bin/SDCEventTracker.pdb
SDCEventTracker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SDCEventTracker/obj/Debug/SDCEventTracker.csproj.FileListAbsolute.txt
SDCEventTracker/obj/Debug/SDCEventTracker.csprojResolveAssemblyReference.cache
SDCEventTracker/obj/Debug/SDCEventTracker.dll
SDCEventTracker/obj/Debug/SDCEventTracker.pdb
SDCEventTracker.v12.suo