
.btn-info a,
.btn-info a:hover,
.btn-info a:active {
    color: #FFFFFF;
}

.btn-default a,
.btn-default a:hover,
.btn-default a:active {
    color: #080808;
}

button a, button a:hover, button a:active {
    text-decoration: none;
}

.navbar-inverse {
    background-color: #552C00;
    border-color: #080808;
}

.fa {
    padding-left: 5px;
    padding-right: 5px;
}

.table tr:hover {
    background-color: #ffd800 !important;
}

#top-row:hover {
    background-color: #AA7439 !important;
}

.table tr {
    text-transform: capitalize;
}

.shadow {
    -webkit-box-shadow: 8px 7px 52px -5px rgba(41,41,41,1);
    -moz-box-shadow: 8px 7px 52px -5px rgba(41,41,41,1);
    box-shadow: 8px 7px 52px -5px rgba(41,41,41,1);
}

button a:hover, button a{
    color: #FFFFFF;
}

.bold{
    font-weight: bold;
}
